<div>
  <main>

    <form [formGroup]="meuFormGroup">

      <label for="usuario">Nome</label>
      <input type="text" id="usuario" placeholder="Nome" formControlName="nome" />
      <ng-container *ngIf="meuFormGroup.controls.nome.touched">
        <span *ngIf="meuFormGroup.controls.nome.errors">
          Campo obrigatório
        </span>
      </ng-container>



      <label for="placa">Placa</label>
      <input type="text" id="placa" placeholder="Placa da Mottu" formControlName="placa" />
      <ng-container *ngIf="meuFormGroup.controls.placa.touched">
        <span *ngIf="meuFormGroup.controls.placa.errors">
          Campo obrigatório
        </span>
      </ng-container>


      <label for="email">E-mail</label>
      <input type="email" id="email" placeholder="Exemplo@gmail.com" formControlName="email" />
      <ng-container *ngIf="meuFormGroup.controls.email.touched">
        <span *ngIf="meuFormGroup.controls.email.errors?.required">
          Campo obrigatório
        </span>
        <span *ngIf="meuFormGroup.controls.email.errors?.email">
          E-mail inválido
        </span>
      </ng-container>

      <label for="data">Data de nascimento</label>
      <input type="date" id="data" formControlName="data" />
      <ng-container *ngIf="meuFormGroup.controls.data.touched">
        <span *ngIf="meuFormGroup.controls.data.errors">
          Campo obrigatório
        </span>
      </ng-container>

      <label for="telefone">Telefone</label>
      <input type="tel" id="telefone" placeholder="(XX) XXXXX-XXXX" formControlName="telefone" />
      <ng-container *ngIf="meuFormGroup.controls.telefone.touched">
        <span *ngIf="meuFormGroup.controls.telefone.errors">
          Campo obrigatório
        </span>
      </ng-container>

      <button class="botaoCadastrar"(click)="cadastrar()"
      [disabled]="!meuFormGroup.valid">
        Cadastrar
      </button>

      <button class="botaoDeletar" type="reset">Limpar dados</button>

    </form>
  </main>
</div>
