@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
form {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: solid;
border-radius: 1%;
 display: block;
 background-color: #252525;
 padding: 15px;
 margin: 90px 200px 0px;
}

input {
	display: block;
	margin: 0 130px 10px;
	padding: 10px 25px;
	width: 50%;
}

label {
  display:block;
	font-size: 30px;
  color: aliceblue;
	margin: 0 130px 10px;
}

button {
  width:25%;
	padding: 15px 0;
	background: rgb(50, 153, 9);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  margin: 0 195px 0;
} 

span {
	color: red;
	margin: 0 200px 15px;
}
