    <div class="p-grid p-justify-center">
    <p-card >
        <main>
            <form class=menuLogin>
                <label class="labelLogin" for="usuario">Usuário</label>
                <input type="text" pInputText id="usuario"/>

                <label class="labelLogin" for="senha">Senha</label>
                <input class="inputLogin" type="password" pInputText pPassword  id="senha" />

                <button class="botao" pButton type="submit" label="Acessar" ></button>
            </form>
        </main>
   </p-card>
</div>