    <div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
            </style> 
        <h1>Mottu</h1>
    <p-card>
        <main>
            <form>
                <label for="usuario">Usuário:</label>
                <input type="text" pInputText id="usuario"/>
                <label for="senha">Senha</label>
                <input type="password" pInputText pPassword  id="senha" />
                <br/>
                <button class="botao" pButton type="submit" label="Acessar" ></button>
            </form>
        </main>

   </p-card>
</div>