    <div class="p-grid p-justify-center">
    <p-card >
        <main>
            <form class=menuLogin>
                <label class="labelLogin" for="usuario">E-mail</label>
                <input type="text" pInputText id="usuario"/>

                <label class="labelLogin" for="senha">Senha</label>
                <input class="inputLogin" type="password" pInputText pPassword  id="senha" />

                <button class="botao" pButton type="submit" label="Acessar" ></button>

              <a href="https://tenor.com/view/cat-cute-animals-gif-9438244">Esqueci a senha</a>
            </form>
        </main>
   </p-card>
</div>
