form{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color:rgb(34, 238, 34);
  text-decoration: none;
  position: absolute;
  margin: 0 35px 0;

  }
  span {
  color: red;



  }
.botao{
  display: block;
	width:10%;
	background: rgb(50, 153, 9);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px 56px 10px;
}
label{
  margin: 10px 0 0;
}
