a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-style: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
}

.menu {
  margin: 15px 15px 15px;
  font-size: 45px;
  color: rgb(34, 211, 34);
  font-family: 'Open Sans Condensed', sans-serif;
}

.mensagemMenu {
  margin: -49px 150px 0px;
  color: rgb(34, 211, 34);
  font-family: 'Open Sans Condensed', sans-serif;
}

