<button class="menu" mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #menu="matMenu">
        <button class="login" routerLink="/login" routerLinkActive="active" mat-menu-item>Login</button>
        <button routerLink="/cadastro" routerLinkActive="active" mat-menu-item>Cadastro</button>
        <button routerLink="/tabela" routerLinkActive="active" mat-menu-item>Tabela</button>

</mat-menu>

<nav id="menuPrincipal">
        <a routerLink="/home" routerLinkActive="active">Home</a>
</nav>
<router-outlet></router-outlet>