.full-width-table {
  width: 100%;
}
th {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  background-color: #1b8b1f;
  color: white;
}

td {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  background-color: #252525;
  color: white;
}

mat-form-field {
  display: block;
	width:18%;
  background-color: #f8f8f8;
  border: none;
	border-radius: 5px;

}

.botaoPesquisar {
  display: inline;
	width:8%;
	background: rgb(47, 207, 26);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  margin: 10px 10px 10px;
}

.botaoLimpar {
  display: inline;
	width:8%;
	background: rgb(238, 38, 38);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
